/2013-OOProgrammingWithJava-PART1/week1-000.Sandbox/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week4-078.ClockUsingCounter/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week4-079.NumberStatistics/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week4-081.PasswordRandomizer/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week4-082.Lottery/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week4-080.Dice/nbproject/private/
/week4-078.ClockUsingCounter/build/
/2013-OOProgrammingWithJava-PART1/week1-000.Sandbox/build/